#grdPane {
	-fx-background-color: #ffffff;
}

#lblResult {
	-fx-font-size: 20px;
	-fx-background-color: #ffffff;
	-fx-font-weight: bold;
}

#lblError {
	-fx-font-weight: bold;
	-fx-text-fill: red;
}

.button {
	-fx-font-size: 18px;
}